# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


# Spyder project settings
.spyderproject
.spyproject

# CSV data
*.csv

# Saved model
save_model
saved_model
*.h5

# JSON file
*.json